@{
    Layout = "/Views/Shared/_LayoutStudent.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <form method='post' action="CreateStudent">
        <label>Имя</label><br />
        <input name='name' /><br />
        <label>Фамилия</label><br />
        <input name='surname' /><br />
        <label>Отчество</label><br />
        <input name='patronymic' /><br />
        <input type='submit' value='Send' />
    </form>
</body>
</html>
