@{
    Layout = "/Views/Shared/_LayoutStudent.cshtml";
}


<!DOCTYPE html>
<html>
<body>
    <form method='post' action="DeleteStudent">
        <label>Id:</label><br />
        <input name='id' /><br />
        <input type='submit' value='Send' />
    </form>
</body>
</html>
