@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <form method='post' action="AddMark">
        <label>ФИО</label><br />
        <input name='student' /><br />
        <label>Оценка</label><br />
        <input name='mark' /><br />
        <input type='submit' value='Send' />
    </form>
</body>
</html>