@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <form method='post' action="ShowStudent">
        <label>ФИО:</label><br />
        <input name='student' /><br />
        <input type='submit' value='Send' />
    </form>
</body>
</html>
