<!DOCTYPE html>

<html>
<body>
    <h2>@ViewBag.Title</h2>
    <div>
        <h2>Опции: </h2>
        <ol>
            <li><a href="/StudentVariants/StudentVariantsCreate">Сгенерировать [Студенты - Варианты]</a></li>
        </ol>
    </div>
    <div>@RenderBody()</div>
</body>
</html>