<!DOCTYPE html>

<html>
<body>
    <h2>@ViewBag.Title</h2>
    <div>
        <h2>Опции: </h2>
        <ol>
            <li><a href="/Variants/CreateVariant">Добавить вариант в бд</a></li>
            <li><a href="/Variants/ShowAllVariants">Показать все варианты</a></li>
            <li><a href="/Variants/DeleteVariantById">Удалить вариант</a></li>
            <li><a href="/Variants/UpdateVariantById">Обновить данные варианта</a></li>
        </ol>
    </div>
    <div>@RenderBody()</div>
</body>
</html>