<!DOCTYPE html>

<html>
<body>
    <h2>@ViewBag.Title</h2>
    <div>
        <h2>Опции: </h2>
        <ol>
            <li><a href="/Students/CreateStudent">Добавить студента в бд</a></li>
            <li><a href="/Students/ShowAllStudents">Показать всех студентов</a></li>
            <li><a href="/Students/DeleteStudent">Удалить студента</a></li>
            <li><a href="/Students/UpdateStudentById">Обновить данные студента</a></li>
        </ol>
    </div>
    <div>@RenderBody()</div>
</body>
</html>
