<!DOCTYPE html>

<html>
<body>
    <h2>@ViewBag.Title</h2>
    <div> 
            <h2>Опции: </h2>
            <ol>
                <li><a href="/Db/ShowAllDataBases">Показать все DB</a></li>
                <li><a href="/Db/ShowCurrentDataBase">Показать выбранную DB</a></li>
                <li><a href="/Db/CreateDataBase">Создать новую DB</a></li>
                <li><a href="/Db/OpenDataBase">Открыть DB</a></li>
                <li><a href="/Db/DeleteDataBase">Удалить DB</a></li>
                <li><a href="/Db/SwitchDataBase">Сменить DB</a></li>
            </ol>
            <ol>
                <li><a href="/Db/Students">Перейти к таблице [Студенты]</a></li>
                <li><a href="/Db/Variants">Перейти к таблице [Варианты]</a></li>
                <li><a href="~/StudentVariants/StudentVariantsCreate">Сгенерировать таблицу [Студенты - Варианты]</a></li>
                <li><a href="~/StudentVariantMarks/ShowFullTable">Показать итоговую таблицу [Студенты - Варианты - Оценки]</a></li>
                
            </ol>
                <li><a href="~/StudentVariantMarks/AddMark">Поставить оценку</a></li>
                <li><a href="~/StudentVariantMarks/ShowStudent">Найти студента в таблице [Студенты - Варианты - Оценки]</a></li>
                <li><a href="~/StudentVariantMarks/DeleteStudent">Удалить студента в таблице [Студенты - Варианты - Оценки]</a></li>
                <li><a href="~/StudentVariantMarks/ChangeVariant">Изменить вариант студента в таблице [Студенты - Варианты - Оценки]</a></li>
            <ol>

            </ol>
            <ol>
                <li><a href="~/AutoFill/AutoComplete">Автоматическое создание таблицы</a></li>
            </ol>
    </div>
    <div>@RenderBody()</div>
</body>
</html>
