@{
    Layout = "/Views/Shared/_LayoutVariant.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <form method='post' action="CreateVariant">
        <label>Путь к файлу</label><br />
        <input name='pathToFile' /><br />
        <input type='submit' value='Send' />
    </form>
</body>
</html>
