@{
    Layout = "/Views/Shared/_LayoutVariant.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <form method='post' action="UpdateVariantById">
        <label>Id</label><br />
        <input name='id' /><br />
        <label>Path</label><br />
        <input name='pathToFile' /><br />
        <input type='submit' value='Send' />
    </form>
</body>
</html>
