
<!DOCTYPE html>
<html>
    <body>
    <form method='post' action="CreateDataBase">
        <label>Name:</label><br />
        <input name='name' /><br />
        <input type='submit' value='Send' />
    </form>
</body>
</html>
