@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Switch DataBase</h1>
        <body>
            <form method="post" action="http://localhost:8080/login.php">
                <input name="login" />
                <input type="submit" value="Путь в базе данных" />
            </form>
        </body>
    
</div>
