
<!DOCTYPE html>
<html>
<body>
    <form method='post' action="AutoComplete">
        <label>Путь к таблице СТУДЕНТЫ:</label><br />
        <input name='path_to_name' /><br />
        <label>Путь к таблице ВАРИАНТЫ:</label><br />
        <input name='path_to_var' /><br />
        <input type='submit' value='Send' />
    </form>
</body>
</html>
